# System
.DS_Store

# IDEA
.vscode
.idea

# packages
yarn.lock
package-lock.json
node_modules
bower_components

# build
dist
lib

# tmp
uploads

# logs
logs
*.log
npm-debug.log
yarn-error.log
yarn-debug.log
